.search-bar{
    
    margin-top: 10px;
    width: 100%;
}

.test-div{
    background-color: rgb(158, 158, 158);   
    overflow: hidden;
    
}

.search-div{
    display: flex;
    flex-direction: row-reverse;
}



.stack-car{
    text-align: left;
    display: flex;
}